.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tabela{
  border: 1px solid;
  display: inline-block;
}
.forma{
  display: inline-block;
  margin-left: 50px;
}
.veza{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px !important;
}
.heder{
  border-bottom: 1px solid !important;
}


  .navbar{
    text-align: center !important;
    float: none;
    display: inline-block;
  }


body {
  background-color: rgb(145, 189, 168);
  font-weight:600;
  text-align:center !important;
  color: white;
}

nav {
  background: none !important;
  text-transform:uppercase;
  
}

.page-title {
  opacity: .75 !important;
}


.stavkeDugmad{
  position: relative;
  right: 50px;
}

.tabelaKupac{

 position: fixed;
  right: 50px;
  left : 50px;

}
.tabelaZahtev{
 
 position: fixed;
  right: 50px;
  left : 50px;
  
}
.dugmadZahtev{

  position: fixed;
  bottom: 350px;
  right: 550px;
  
 
}
.formaKupac{
  bottom: 0px;
  left: 500px;
}

